.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-left: 120px;
  padding-right: 120px;
}
.light.container {
  background: linear-gradient(
    180deg,
    hsl(225, 100%, 98%) 0%,
    hsl(225, 100%, 98%) 50%,
    hsl(0, 0%, 100%) 50%,
    hsl(0, 0%, 100%) 100%
  );
}
.dark.container {
  background: linear-gradient(
    180deg,
    hsl(232, 19%, 15%) 0%,
    hsl(232, 19%, 15%) 50%,
    hsl(230, 17%, 14%) 50%,
    hsl(230, 17%, 14%) 100%
  );
}

@media (max-width: 1350px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .light.container {
    background: linear-gradient(
      180deg,
      hsl(225, 100%, 98%) 0%,
      hsl(225, 100%, 98%) 10%,
      hsl(0, 0%, 100%) 10%,
      hsl(0, 0%, 100%) 100%
    );
  }
  .dark.container {
    background: linear-gradient(
      180deg,
      hsl(232, 19%, 15%) 0%,
      hsl(232, 19%, 15%) 10%,
      hsl(230, 17%, 14%) 10%,
      hsl(230, 17%, 14%) 100%
    );
  }
}
@media (max-width: 700px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
