.dark.body {
  background-color: hsl(230, 17%, 14%);
}
.light.body {
  background-color: hsl(0, 0%, 100%);
}
.body {
  padding-top: 35px;
  padding-left: 120px;
  padding-right: 120px;
}
h2 {
  margin: 0;
}
.dark h2 {
  color: hsl(0, 0%, 100%);
}
.light h2 {
  color: hsl(228, 12%, 44%);
}
@media (max-width: 700px) {
  .body {
    padding-left: 30px;
    padding-right: 30px;
  }
}
